
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="logo">
            <img src="../assets/images/logo.png" alt="logo">
          </div>
    </div>
  </div>
</div>
<app-home></app-home>
<router-outlet></router-outlet>
