
@import "../_sass/_variables.scss";

/***************************************
    Logo
***************************************/

.logo{

    img{
        width: 15%;
        margin-top: 30px;

        @media (max-width: $sm-device) {
            width: 30%;
        }
    }
}