
@import "../../../_sass/_variables.scss";

.box-content{

    .box-title{
        margin-bottom:30px;
    }

    .box-title-roles, .box-title-contract{

        h3{
            font-weight: 400;
            font-size:16px;
        }
    }

    .box-title-contract{
        margin-top:30px;

        span.box-svg{
            position:absolute;
            right:15px;
            top:0;

            svg{
                width:16px;
            }
        }

        .max-letter{
            font-size: 11px;
            color:#666;
            text-transform: normal;
            font-weight: 600;
        }
    }

    .box-input{
        
        input{
            width:100%;
            padding:8px 20px;
            font-size:16px;
            background-color:$secondColor;
            border:1px solid #ccc;
        }

        p{
            margin: 5px 0 0;
            font-weight: 400;
            font-size: 13px;
        }
    }

    button{
        width: 100%;
        border: 1px solid $primaryColor;
        color: #4692f7;
        border-radius: 30px;
        background: $secondColor;
        padding: 7px 20px;

        @media (max-width: $md-device) {
            margin-bottom:10px;
        }
    }
}