

<div class="row box-content">
    <div class="box-title col-lg-12"><h3>{{title}}</h3></div>
    <div class="box-title-roles col-lg-12"><h3>Roles</h3></div>
    <div class="col-lg-4" *ngFor="let role of roles;">   
        <button type="button" class="btn btn-primary" value="{{role.value}}" (click)="addSign(i, role.symbol, role.value)">   
           + {{role.symbol}}
        </button>
    </div>
    <div class="box-title-contract col-lg-12">
        <h3>Contract <span class="max-letter">( max 5 )</span></h3>
        <span class="box-svg" (click)="cleanInputLetter(i)">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <circle style="fill:#E21B1B;" cx="256" cy="256" r="256"/>
                <path style="fill:#C40606;" d="M510.28,285.304L367.912,142.936L150.248,368.608l140.928,140.928
                    C406.352,493.696,497.056,401.288,510.28,285.304z"/>
                <g>
                    <path style="fill:#FFFFFF;" d="M354.376,371.536c-5.12,0-10.232-1.952-14.144-5.856L146.408,171.848
                        c-7.816-7.816-7.816-20.472,0-28.28s20.472-7.816,28.28,0L368.52,337.4c7.816,7.816,7.816,20.472,0,28.28
                        C364.608,369.584,359.496,371.536,354.376,371.536z"/>
                    <path style="fill:#FFFFFF;" d="M160.544,371.536c-5.12,0-10.232-1.952-14.144-5.856c-7.816-7.816-7.816-20.472,0-28.28
                        l193.832-193.832c7.816-7.816,20.472-7.816,28.28,0s7.816,20.472,0,28.28L174.688,365.68
                        C170.784,369.584,165.664,371.536,160.544,371.536z"/>
                </g>
            </svg>
        </span>
    </div>
    <div class="box-input col-lg-12">
        <input type="text" [(ngModel)]="modelName[i]" name="modelName[i]" value="{{contract}}" disabled/>
        <p>{{title}} has {{sum}} points</p>
    </div>
</div>