
$xxs-device: 321px;
$xms-device: 375px;
$xs-device: 480px;
$sm-device: 767px;
$md-device: 992px;
$mg-device: 1100px;
$ls-device: 1300px;
$lg-device: 1600px;

$primaryColor: #1c7df9;
$secondColor: #fff;

$font-family-base: "Poppins", sans-serif;