
@import "../../../_sass/_variables.scss";

.box-party{
    background: $secondColor;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 40px 40px 45px 40px;
    margin-top:40px;
    position: relative;

    .line{
        background: linear-gradient(to right, #fff 0, #ffe63e 33%, #58b23d 66%, #000 100%);
        height: 4px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
}

.content-btn-trial{
    width:100%;
    margin:40px 0;
    text-align: center;

    .btn-trial{
        padding:7px 30px;
        border: 1px solid $primaryColor;
        background: $primaryColor;
        text-transform: uppercase;
        font-size: 14px;
    }

    .error{
        color:#be0808;
        font-weight: 400;
        margin-top:30px;
        display: none;

        &.active{
            display: block;
        }
    }
}

.box-winner{
    text-align: center;

    p{
        font-weight: 600;
    }
}