

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="box-party">  
                <app-box-party [roles]='roles' [title]='title1' [i]='index1'></app-box-party>
                <div class="line"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-party">  
                <app-box-party [roles]='roles' [title]='title2' [i]='index2'></app-box-party>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="content-btn-trial">
        <button class="btn btn-primary btn-trial" type="button" (click)="getData()">Trial Time!!</button>
        <div class="error" [ngClass]="{'active': isVisible === true }">
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-winner" *ngFor="let item of winner;">
                <p>{{item}}</p>
            </div>
        </div>
    </div>
</div>



