@import "./_sass/_variables.scss";

html, body{
    height:100%;
}

body {
    background-color: #ebe8e8;
    font-size: 14px;
    font-family: $font-family-base;
    line-height: 24px;
  }

  .h1, h1 { 
    font-family: $font-family-base;
    font-weight: 800;
  }
  
  .h3, h3{ 
    font-family: $font-family-base;
    line-height: 30px;
    font-size:20px;
    font-weight: 700;
    color:#000;
    text-transform: uppercase;
    }

  .h4, h4{
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 600;
    color:#465e6a;
  }
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: normal;
  }

  p {
    font-family: $font-family-base;
    line-height: 28px;
    color: #111;
    font-weight: 300;
    font-size: 14px;
  }

  ul{
    margin:0;
    padding:0;
  }

  img{
      max-width: 100%;
  }

  *:active, *:focus, *:active {
    outline: none !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .container{
      max-width:1250px;
  }

  button{
      border-radius:30px!important;
  }